@import 'reset';
@import 'domework';

// font
$font-stack: 'Lato', sans-serif;

// colors
$text-font-color: #2b2b2b;
$background-color: #ececec;
$link-color: #1b95e0;
$circular-image-border: 5px solid #ffffff;
$circular-image-shadow-color: #b1b1b1;
$circular-image-shadow: 0 0 10px #b1b1b1;
$project-box-background-color: #ffffff;
$box-border-color: #c7c7c7;
$project-screenshot-border-color: #dbdee4;
$project-button-font-color: #1b95e0;
$project-button-background-color: #ececec;
$project-button-background-color-highlighted: #e0e0e0;
$footer-font-color: #909090;

// breakpoints
$breakpoint-small: 550px;
$breakpoint-mid: 1000px;

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-stack;
    color: $text-font-color;
    background-color: $background-color;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-mid) {
        width: $breakpoint-mid;
        margin: auto;
    }
}

.main-content {
    min-height: 100%;
    margin-bottom: -50px;
}

.main-content::after {
    content: "";
    display: block;
    height: 50px;
}

.profile {
    padding: 50px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 150px;
        width: 150px;
        border: $circular-image-border;
        border-radius: 100%;
        box-shadow: $circular-image-shadow;
    }

    @media only screen and (min-width: $breakpoint-small) {
        flex-direction: row;
        justify-content: center;
    }

    .profile-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $breakpoint-small) {
            align-items: flex-start;
            margin-left: 30px;
        }

        h1 {
            font-size: 2.5em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 1.5em;
            font-style: italic;
            margin-bottom: 5px;
            text-align: center;
        }

        a {
            position: relative;
            padding: 5px 5px 5px 20px;
            color: $link-color;
            text-decoration: none;
            display: inline-block;
        }

        a:hover {
            text-decoration: underline;
        }

        a::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
        }

        a.email-link::before {
            background-image: url('../icons/envelope.svg');
        }

        a.github-link::before {
            background-image: url('../icons/github.svg');
        }
    }
}

.project-box {
    width: 250px;
    height: 300px;
    margin: 20px;
    position: relative;
    border: 1px solid $box-border-color;
    border-radius: 5px;
    background-color: $project-box-background-color;
    overflow: hidden;
}
.project-screenshot {
    width: 100%;
    height: 55%;
    border-bottom: 1px solid $project-screenshot-border-color;
    background-size: cover;
    transition: height 1s, border-bottom 0.5s;
}
.project-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(55% - 70px);
    border: $circular-image-border;
    border-radius: 100%;
    box-shadow: $circular-image-shadow;
    transition: top 1s, box-shadow 1.5s;
}
.project-desc {
    width: 100%;
    height: 45%;
    padding: 30px 20px 0 20px;
    transition: padding-top 1s, height 1s;

    h3 {
        font-size: 2em;
        font-weight: bold;
        margin: 10px 0 10px 0;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.project-links {
    width: 100%;
    padding-top: 10px;
    height: 0;
    transition: height 1s;

    a {
        display: block;
        width: 30%;
        height: 39px;
        padding: 10px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        color: $project-button-font-color;
        background-color: $project-button-background-color;
        border: 1px solid $box-border-color;
        border-radius: 5px;
    }

    a:last-of-type {
        margin-right: 0;
    }

    a:hover {
        background-color: $project-button-background-color-highlighted;
    }
}

.project-box:hover {
    .project-icon {
        top: 20px;
        box-shadow: 0 0 1px 1px $circular-image-shadow-color;
    }

    .project-screenshot {
        height: 0;
        border-bottom: 0 solid $project-screenshot-border-color;
    }

    .project-desc {
        padding-top: 130px;
        height: 75%;
    }

    .project-links {
        height: 25%;
    }
}

.tutorifull .project-screenshot {
    background-image: url('../images/tutorifull_screenshot.png');
}

.portfolio .project-screenshot {
    background-image: url('../images/portfolio_screenshot.png');
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: $footer-font-color;
    padding-top: 30px;
    height: 50px;
}
