@import 'reset';
@import 'domework';

// font
$font-stack: 'Lato', sans-serif;

// colors
$text-font-color: #2b2b2b;
$background-color: #ececec;
$link-color: #1b95e0;
$circular-image-border: 5px solid #ffffff;
$circular-image-shadow-color: #b1b1b1;
$circular-image-shadow: 0 0 10px #b1b1b1;
$project-box-background-color: #ffffff;
$box-border-color: #c7c7c7;
$project-screenshot-border-color: #dbdee4;
$project-button-font-color: #1b95e0;
$project-button-background-color: #ececec;
$project-button-background-color-highlighted: #e0e0e0;
$footer-font-color: #909090;

// breakpoints
$breakpoint-small: 550px;
$breakpoint-mid: 1000px;

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-stack;
    color: $text-font-color;
    background-color: $background-color;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-mid) {
        width: $breakpoint-mid;
        margin: auto;
    }
}

.main-content {
    min-height: 100%;
    margin-bottom: -50px;
}

.main-content::after {
    content: "";
    display: block;
    height: 50px;
}

.profile {
    padding: 50px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 150px;
        width: 150px;
        border: $circular-image-border;
        border-radius: 100%;
        box-shadow: $circular-image-shadow;
    }

    @media only screen and (min-width: $breakpoint-small) {
        flex-direction: row;
        justify-content: center;
    }

    .profile-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $breakpoint-small) {
            align-items: flex-start;
            margin-left: 30px;
        }

        h1 {
            font-size: 2.5em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 1.5em;
            font-style: italic;
            margin-bottom: 5px;
            text-align: center;
        }

        a {
            position: relative;
            padding: 5px 5px 5px 20px;
            color: $link-color;
            text-decoration: none;
            display: inline-block;
        }

        a:hover {
            text-decoration: underline;
        }

        a::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
        }

        a.email-link::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="100" height="100" id="svg4186" version="1.1" inkscape:version="0.91 r13725" viewBox="0 0 100 100" sodipodi:docname="envelope.svg"> <defs id="defs4188" /> <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="4.0000001" inkscape:cx="42.950999" inkscape:cy="69.963458" inkscape:current-layer="layer1" showgrid="true" inkscape:document-units="px" inkscape:grid-bbox="true" inkscape:window-width="958" inkscape:window-height="1008" inkscape:window-x="-7" inkscape:window-y="0" inkscape:window-maximized="0"> <inkscape:grid type="xygrid" id="grid4194" /> </sodipodi:namedview> <metadata id="metadata4191"> <rdf:RDF> <cc:Work rdf:about=""> <dc:format>image/svg+xml</dc:format> <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /> <dc:title></dc:title> </cc:Work> </rdf:RDF> </metadata> <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer" transform="translate(0,36)"> <path style="fill:none;fill-rule:evenodd;stroke:#2b2b2b;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 5.3779801,43.806387 0,-59.256171 89.3033989,0 0,59.256171 z" id="path4138" inkscape:connector-curvature="0" /> <path style="fill:none;fill-rule:evenodd;stroke:#2b2b2b;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 11.068413,-10.415206 50.029679,16.810407 89.18828,-10.415206" id="path4140" inkscape:connector-curvature="0" sodipodi:nodetypes="ccc" /> <path style="fill:none;fill-rule:evenodd;stroke:#2b2b2b;stroke-width:10;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 5.4031182,43.6674 39.994865,10.014017 49.999346,17.022156 60.030727,9.9632023 94.656239,43.6674" id="path4142" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccc" /> </g></svg>');
        }

        a.github-link::before {
            background-image: url('data:image/svg+xml;utf8,<svg height="1024" width="1024" xmlns="http://www.w3.org/2000/svg"><path fill="#2b2b2b" d="M512 0C229.25 0 0 229.25 0 512c0 226.25 146.688 418.125 350.156 485.812 25.594 4.688 34.938-11.125 34.938-24.625 0-12.188-0.469-52.562-0.719-95.312C242 908.812 211.906 817.5 211.906 817.5c-23.312-59.125-56.844-74.875-56.844-74.875-46.531-31.75 3.53-31.125 3.53-31.125 51.406 3.562 78.47 52.75 78.47 52.75 45.688 78.25 119.875 55.625 149 42.5 4.654-33 17.904-55.625 32.5-68.375C304.906 725.438 185.344 681.5 185.344 485.312c0-55.938 19.969-101.562 52.656-137.406-5.219-13-22.844-65.094 5.062-135.562 0 0 42.938-13.75 140.812 52.5 40.812-11.406 84.594-17.031 128.125-17.219 43.5 0.188 87.312 5.875 128.188 17.281 97.688-66.312 140.688-52.5 140.688-52.5 28 70.531 10.375 122.562 5.125 135.5 32.812 35.844 52.625 81.469 52.625 137.406 0 196.688-119.75 240-233.812 252.688 18.438 15.875 34.75 47 34.75 94.75 0 68.438-0.688 123.625-0.688 140.5 0 13.625 9.312 29.562 35.25 24.562C877.438 930 1024 738.125 1024 512 1024 229.25 794.75 0 512 0z" /></svg>');
        }

        a.linkedin-link::before {
            background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="430.117px" height="430.118px" viewBox="0 0 430.117 430.118" style="enable-background:new 0 0 430.117 430.118;" xml:space="preserve"> <g> <path fill="#2b2b2b" id="LinkedIn__x28_alt_x29_" d="M398.355,0H31.782C14.229,0,0.002,13.793,0.002,30.817v368.471 c0,17.025,14.232,30.83,31.78,30.83h366.573c17.549,0,31.76-13.814,31.76-30.83V30.817C430.115,13.798,415.904,0,398.355,0z M130.4,360.038H65.413V165.845H130.4V360.038z M97.913,139.315h-0.437c-21.793,0-35.92-14.904-35.92-33.563 c0-19.035,14.542-33.535,36.767-33.535c22.227,0,35.899,14.496,36.331,33.535C134.654,124.415,120.555,139.315,97.913,139.315z M364.659,360.038h-64.966V256.138c0-26.107-9.413-43.921-32.907-43.921c-17.973,0-28.642,12.018-33.327,23.621 c-1.736,4.144-2.166,9.94-2.166,15.728v108.468h-64.954c0,0,0.85-175.979,0-194.192h64.964v27.531 c8.624-13.229,24.035-32.1,58.534-32.1c42.76,0,74.822,27.739,74.822,87.414V360.038z M230.883,193.99 c0.111-0.182,0.266-0.401,0.42-0.614v0.614H230.883z"/> </g> </svg>');
        }
    }
}

.project-box {
    width: 250px;
    height: 300px;
    margin: 20px;
    position: relative;
    border: 1px solid $box-border-color;
    border-radius: 5px;
    background-color: $project-box-background-color;
    overflow: hidden;
}
.project-screenshot {
    width: 100%;
    height: 55%;
    border-bottom: 1px solid $project-screenshot-border-color;
    background-size: cover;
    transition: height 1s, border-bottom 0.5s;
}
.project-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(55% - 70px);
    border: $circular-image-border;
    border-radius: 100%;
    box-shadow: $circular-image-shadow;
    transition: top 1s, box-shadow 1.5s;
}
.project-desc {
    width: 100%;
    height: 45%;
    padding: 30px 20px 0 20px;
    transition: padding-top 1s, height 1s;

    h3 {
        font-size: 2em;
        font-weight: bold;
        margin: 10px 0 10px 0;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.project-links {
    width: 100%;
    padding-top: 10px;
    height: 0;
    transition: height 1s;

    a {
        display: block;
        width: 30%;
        height: 39px;
        padding: 10px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        color: $project-button-font-color;
        background-color: $project-button-background-color;
        border: 1px solid $box-border-color;
        border-radius: 5px;
    }

    a:last-of-type {
        margin-right: 0;
    }

    a:hover {
        background-color: $project-button-background-color-highlighted;
    }
}

.project-box:hover {
    .project-icon {
        top: 20px;
        box-shadow: 0 0 1px 1px $circular-image-shadow-color;
    }

    .project-screenshot {
        height: 0;
        border-bottom: 0 solid $project-screenshot-border-color;
    }

    .project-desc {
        padding-top: 130px;
        height: 75%;
    }

    .project-links {
        height: 25%;
    }
}

.tutorifull .project-screenshot {
    background-image: url('../images/tutorifull_screenshot.png');
}

.portfolio .project-screenshot {
    background-image: url('../images/portfolio_screenshot.png');
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: $footer-font-color;
    padding-top: 30px;
    height: 50px;
}
