@import 'reset';
@import 'domework';

// font
$font-stack: 'Lato', sans-serif;

// colors
$text-font-color: #222831;
$background-color: #eee;
$highlight-color: #00adbf;
$link-color: $highlight-color;
$circular-image-border: 5px solid #fff;
$circular-image-shadow: 0 0 10px 2px #b1b1b1;
$circular-image-shallow-shadow: 0 0 1px 1px #b1b1b1;
$box-background-color: #fff;
$box-shadow: 0 3px 4px 2px rgba(0, 0, 0, .075);
$sub-heading-foreground-color: #fff;
$sub-heading-background-color: $highlight-color;
$sub-heading-shadow: 0 1px 2px rgba(0, 0, 0, .2);
$project-button-font-color: $highlight-color;
$project-button-background-color: #eee;
$project-button-background-color-highlighted: #e0e0e0;
$footer-font-color: #909090;

// breakpoints
$breakpoint-small: 550px;
$breakpoint-mid: 1000px;

html {
    height: 100%;
}

body {
    flex-direction: column;
    height: 100%;
    background-color: $background-color;
    color: $text-font-color;
    font-family: $font-stack;
    @media only screen and (min-width: $breakpoint-mid) {
        margin: auto;
        width: $breakpoint-mid;
    }
}

.main-content {
    margin-bottom: -50px;
    min-height: 100%;

    &::after {
        display: block;
        height: 50px;
        content: '';
    }
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;

    img {
        width: 150px;
        height: 150px;
        border: $circular-image-border;
        border-radius: 100%;
        box-shadow: $circular-image-shadow;
    }
    @media only screen and (min-width: $breakpoint-small) {
        flex-direction: row;
        justify-content: center;
    }

    .profile-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        @media only screen and (min-width: $breakpoint-small) {
            align-items: flex-start;
            margin-left: 30px;
        }

        h1 {
            margin-bottom: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 2.5em;
            @media only screen and (min-width: $breakpoint-small) {
                text-align: left;
            }
        }

        h2 {
            margin-bottom: 5px;
            text-align: center;
            font-style: italic;
            font-size: 1.5em;
            @media only screen and (min-width: $breakpoint-small) {
                text-align: left;
            }
        }

        .profile-links {
            justify-content: center;
            @media only screen and (min-width: $breakpoint-small) {
                justify-content: flex-start;
            }
        }

        a {
            position: relative;
            display: inline-block;
            padding: 5px 5px 5px 20px;
            color: $link-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                position: absolute;
                left: 0;
                display: inline-block;
                width: 16px;
                height: 16px;
                background-size: 16px 16px;
                content: '';
                stroke: #2b2b2b;
            }

            &.email-link {
                &::before {
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100" width="100"><g stroke-linejoin="round" stroke="black" stroke-width="10" fill="none"><path d="M5.378 79.806V20.55h89.303v59.256z" stroke-linecap="round"/><path d="M11.068 25.585L50.03 52.81l39.158-27.225" stroke-linecap="round"/><path d="M5.4031 79.667l34.592-33.653 10.004 7.008 10.032-7.0588 34.625 33.704"/></g></svg>');
                }
            }

            &.gitlab-link {
                &::before {
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path fill="none" d="M-.2.1h53.8v53.4H-.2z"/><path d="M26.6 49.3L2.4 31.7c-.3-.2-.6-.6-.7-1-.1-.4-.1-.8 0-1.2L4.5 21l22.1 28.3zM11.9 3.9L17.4 21H4.5L10 3.9c.1-.4.5-.6.9-.6.6-.1.9.2 1 .6zM17.4 21h18.4l-9.2 28.3L17.4 21zm34.2 8.6c.1.4.1.8 0 1.2-.1.4-.4.7-.7 1L26.6 49.3 48.7 21l2.9 8.6zM48.7 21H35.9l5.5-17.1c.1-.4.5-.6.9-.6.5 0 .8.2.9.6L48.7 21z"/></svg>');
                }
            }

            &.linkedin-link {
                &::before {
                    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="430.117px" height="430.118px" viewBox="0 0 430.117 430.118" style="enable-background:new 0 0 430.117 430.118;" xml:space="preserve"> <g> <path fill="black" id="LinkedIn__x28_alt_x29_" d="M398.355,0H31.782C14.229,0,0.002,13.793,0.002,30.817v368.471 c0,17.025,14.232,30.83,31.78,30.83h366.573c17.549,0,31.76-13.814,31.76-30.83V30.817C430.115,13.798,415.904,0,398.355,0z M130.4,360.038H65.413V165.845H130.4V360.038z M97.913,139.315h-0.437c-21.793,0-35.92-14.904-35.92-33.563 c0-19.035,14.542-33.535,36.767-33.535c22.227,0,35.899,14.496,36.331,33.535C134.654,124.415,120.555,139.315,97.913,139.315z M364.659,360.038h-64.966V256.138c0-26.107-9.413-43.921-32.907-43.921c-17.973,0-28.642,12.018-33.327,23.621 c-1.736,4.144-2.166,9.94-2.166,15.728v108.468h-64.954c0,0,0.85-175.979,0-194.192h64.964v27.531 c8.624-13.229,24.035-32.1,58.534-32.1c42.76,0,74.822,27.739,74.822,87.414V360.038z M230.883,193.99 c0.111-0.182,0.266-0.401,0.42-0.614v0.614H230.883z"/> </g> </svg>');
                }
            }
        }
    }
}

h3 {
    margin: 60px 0 15px;
    padding: 15px 35px;
    width: fit-content;
    border-radius: 300px;
    background: $sub-heading-background-color;
    color: $sub-heading-foreground-color;
    text-shadow: $sub-heading-shadow;
    font-size: 1.3em;
}

.about-me {
    align-items: center;

    div {
        margin: 0 40px;
        padding: 15px;
        border-radius: 5px;
        background-color: $box-background-color;
        box-shadow: $box-shadow;
    }

    p {
        margin-bottom: .5em;
        font-size: 1em;
        line-height: 1.5;

        &:last-of-type {
            margin: 0;
        }
    }
}

.projects {
    align-items: center;
    margin-top: 20px;

    .project-box {
        position: relative;
        overflow: hidden;
        margin: 20px;
        width: 300px;
        height: 350px;
        border-radius: 5px;
        background-color: $box-background-color;
        box-shadow: $box-shadow;

        .project-screenshot {
            width: 100%;
            height: 55%;
            vertical-align: top;
            transition: height 1s, border-bottom .5s;

            object-fit: cover;
            object-position: 50% 0;
        }

        .project-icon {
            position: absolute;
            top: calc(55% - 70px);
            left: calc(50% - 50px);
            width: 100px;
            height: 100px;
            border: $circular-image-border;
            border-radius: 100%;
            box-shadow: $circular-image-shadow;
            transition: top 1s, box-shadow 1.5s;
        }

        .project-desc {
            padding: 30px 20px 0;
            width: 100%;
            height: 45%;
            transition: padding-top 1s, height 1s;

            h4 {
                margin: 10px 0;
                text-align: center;
                font-weight: bold;
                font-size: 2em;
            }

            p {
                text-align: center;
                line-height: 1.5;
            }
        }

        .project-links {
            padding-top: 10px;
            width: 100%;
            height: 0;
            transition: height 1s;

            a {
                display: block;
                margin-right: 20px;
                padding: 10px;
                width: 30%;
                height: 39px;
                border-radius: 5px;
                background-color: $project-button-background-color;
                color: $project-button-font-color;
                text-align: center;
                text-decoration: none;

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $project-button-background-color-highlighted;
                }
            }
        }

        &:hover {
            .project-icon {
                top: 20px;
                box-shadow: $circular-image-shallow-shadow;
            }

            .project-screenshot {
                height: 0;
            }

            .project-desc {
                padding-top: 130px;
                height: 75%;
            }

            .project-links {
                height: 25%;
            }
        }
    }
}

footer {
    padding-top: 30px;
    height: 50px;
    color: $footer-font-color;
    text-align: center;
    font-size: .7em;
}
